<div class="all-promocao container center row">
  <div class="card" style="width: 18rem;">
    <img src="assets/promocao1.webp" class="card-img-top" alt="...">
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/promocao2.webp" class="card-img-top" alt="...">
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/promocao3.webp" class="card-img-top" alt="...">
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/promocao4.webp" class="card-img-top" alt="...">
  </div>
</div>