<div class="row conteiner all-produtos">
  <div class="card" style="width: 18rem;">
    <img src="assets/produtos1.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">GAP</h5>
      <p class="card-text">Blusa de Moletom</p>
      <p class="card-text">R$ 209,99</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/produtos2.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Benellys</h5>
      <p class="card-text">Jaqueta Puffer</p>
      <p class="card-text">R$ 199,90</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/produtos3.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Broken Rules</h5>
      <p class="card-text">Suéter Tricot</p>
      <p class="card-text">R$ 94,99</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/produtos4.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Red Nose</h5>
      <p class="card-text">Suéter Tricot</p>
      <p class="card-text">R$ 187,38</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/produtos5.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adidas Originals</h5>
      <p class="card-text">Blusa de Moletom</p>
      <p class="card-text">R$ 299,99</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/produtos6.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Forum</h5>
      <p class="card-text">Camisa Reta</p>
      <p class="card-text">R$ 249,99</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/produtos7.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Colcci</h5>
      <p class="card-text">Camisa Reta Flanela Xadrez</p>
      <p class="card-text">R$ 269,99</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/produtos8.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Broken Rules</h5>
      <p class="card-text">Camisa Reta Flanela</p>
      <p class="card-text">R$ 89,99</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/assets/produtos9.webpv" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Osklen</h5>
      <p class="card-text">Camisa Reta Flanela Xadrez</p>
      <p class="card-text">R$ 519,99</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/assets/produtos10.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Aramis</h5>
      <p class="card-text">Camisa Reta Xadrez Cinza</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>